@import "https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

.movie_card{
    padding: 0 !important;
    border-radius: 10px;
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    height: 100%;
}

.vote-area{
    padding: 15px;
}

.movie_card img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-height: 250px;
}

.movie_info{
    color: #5e5c5c;
}

.movie_info i{
    font-size: 20px;
}

.card-title{
    font-size: 20px
}

.movie-plot{
    line-height: 1.4rem;
    height: 4.2rem;
    text-overflow: ellipsis;
    overflow: hidden;
}